<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static '/css/emp_main.css'%}">
        <style>
            div.form{
                    display: block;
                    text-align: center;
                }
        </style>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/home/">HOME</a>
            <a href="/add/">ADD NEW EMPLOYEE</a>
            <a href="/read/">SHOW ALL EMPLOYEE</a>
            <form action="{% url 'search_result' %}" method="get" class="form-inline" style = "position:fixed; margin-left:1150px;">
                <input class="form-control mr-sm-7" type="search" name="query" placeholder="By Employee Name" aria-label="Search">
                <button  type="submit" class="btn btn-danger"> SEARCH EMPLOYEE </button>   
            </form>
        </div>
        <br>
        <h3 style="text-align: center; color:red;"><b>Search Employee Information Here !!!!</b> </h3>
        <div class="container">
            <div class="jumbotron">
                <div class="form">
                    <form action="{% url 'search_result' %}" method="get" class="form-inline" style=display:inline-block;>
                        <input class="form-control mr-sm-70" type="search" name="query" placeholder="By Employee Name" aria-label="Search">
                        <button  type="submit" class="btn btn-danger"> SEARCH EMPLOYEE </button>   
                    </form>
                </div>
            </div>
                
        </div> 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    </body>
    </html>